.submenu-icon
{
	background:transparent url("../images/user_gray.png") 0 0 no-repeat !important;
}

.menu-icon
{
	background:transparent url("../images/user_suit.png") 0 0 no-repeat !important;
}

.titulo-escritorio {
  font:normal 16px tahoma, arial, sans-serif;
  color:white;
  margin:5px;
}