@charset "utf-8";
/* CSS Document */

body {
	margin:0px;
	padding:0px;
	background-color:#D8D8D8;/*#C2E0FF*/
}

/*
h1,h2,h3,h4,h5,h6,span {
	margin:0px;
	padding:0px;
}
*/
	
#headerbg {
	width:100%;
	height:100px;
	float:left;
	background-image: url(../images/headerBg.jpg);
	background-repeat:repeat-x;
}

#headerblank {
	width:1024px;
	height:100px;
	float: none;
	margin:0 auto;
}

#header {
	width:1024px;
	height:100px;
	float: left;
}

/*-------------------------------------------------------------------------------------HEADERPART--------------------------------------------------END--------------------------------------*/	
#contentbg {
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
}

#contentblank {
	width:100%;/*1024*/
	float: none;
	margin:0 auto;
	padding:0px;
}
	
#content {
	width:100%;/*1024*/
	float: left;
	margin:0px;
	padding:0px;
}

#contentleft {
	width:220px;/*220px*/
	float: left;
	margin:0px;
	padding:0;
}
	
#imagen {
	width:220px;
	float: left;
	margin:0px;
	padding: 4px 0 0 12px;
	display:block;
}

/*-------------------------------------------------------------------------------------LEFTRPART----------------------------------------------------------------END--*/	
#contentmid {
	width:70%;/*730px*/
	float:left;
	margin:0px;
	padding: 37px 0 0 35px;
}
/*--------------------------------------------------------------CONTENTPART-------------------------------------------------END--------------------------------------------------------------*/	
#footerbg {
	width:100%;
	height:100px;/*354px*/
	float:left;
	/*margin:0px;
	padding:0px;*/
	/*background-color:#99CCFF;*/
}

#footerblank {
	width:1024px;/*1004*/
	height:100px;/*354px*/
	float:none;
	margin:0 auto;
	padding:0px;
}

#footer {
	width:858px;
	height:100px;/*313px*/
	float:left;
	margin:0px;
	padding:41px 0 0 146px;
}
/*
#footerbox {
	width:215px;
	height:168px;
	float:left;
	margin:0px;
	padding:0px;
}*/
/*
#footermid {
	width:215px;
	height:168px;
	float:left;
	margin:0 35px 0 35px;
	padding:0px;
}
*/
/*
#footerlast {
	width:215px;
	height:168px;
	float:left;
	margin:0px;
	padding:0px;
}
	
#footerlinks {
	width:715px;
	float:left;
	margin:25px 0 0 0;
	padding:0px;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	color:#ee7e1f;
	text-align:center;
	text-decoration:none;
}
*/

#copyrights {
	width:715px;
	float:left;
	margin:5px 0 0 0;
	padding:0px;
	font-family:Arial;
	font-size:11px;
	color:black;/*#401400*/
	text-align:center;
}

#designedby {
	width:715px;
	float:left;
	margin:5px 0 0 0;
	padding:0px;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	color:black;/*#401400*/
	text-align:center;
}

.designedby {
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	color:black;/*#ee7e1f*/
	text-align:center;
	text-decoration:none;
}
	
.designedby:hover {
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	color:black;
	text-align:center;
	text-decoration:underline;
}

#validation {
	width:422px;
	float:left;
	margin:5px 0 0 0;
	padding:0 0 0 293px;
}

/*----------------------------Codigo externo Diego----------------------------*/
.regOscuro {
	color: black;
	border-style:none;
	background-color:#E1E1E1;
	Border-Right: #BBD3E1 0px solid;
	Border-Top: #477EAB 0px solid;
	Border-Left: #477EAB 0px solid;
	Border-Bottom: #BBD3E1 0px solid;
	text-align:left;
}

.lt {
	font-family:verdana,tahoma,arial,helvetica;
	font-size: 11px;
	font-weight: normal;
	text-align:right;
}

.regSuaveLeft {
	color: black;
	border-style:none;
	background: #D9E5F3;
	Border-Right: #003366 0px solid;
	Border-Top: #577CB5 0px solid;
	Border-Left: #577CB5 0px solid;
	Border-Bottom: #003366 0px solid;
	text-align: left;
}

.separaFormulario {
	color: black;
	border-style:none;
	background-color:#D9E5F3;
	Border-Right: #003366 0px solid;
	Border-Top: #577CB5 0px solid;
	Border-Left: #577CB5 0px solid;
	Border-Bottom: #003366 0px solid;
	text-align: center;
}
.regSuaveCenter {
	color: black;
	border-style:none;
	background-color:#D9E5F3;
	Border-Right: #003366 0px solid;
	Border-Top: #577CB5 0px solid;
	Border-Left: #577CB5 0px solid;
	Border-Bottom: #003366 0px solid;
	text-align: center;
}

.regSuaveRight {
	color: black;
	border-style:none;
	background: #D9E5F3;
	Border-Right: #E7ECF5 0px solid;
	Border-Top: #E7ECF5 0px solid;
	Border-Left: #E7ECF5 0px solid;
	Border-Bottom:#E7ECF5 0px solid;
	text-align: right;
}

Input.Hospital {
	font:verdana,tahoma,arial,helvetica;
	font-size:7pt; font-weight : normal;
	border-style:groove;
	Border-Right: #003366 2px solid;
	Border-Top: #C5DFEB 2px solid;
	Border-Left: #C5DFEB 2px solid;
	Border-Bottom: #003366 2px solid;
	Color: #D2E7F0;
	BackGround-Color: #4474A4;
	width: 70px;
	vertical-align: middle;
}
.regSuave {
	color: black;
	border-style:none;
	background-color:#D9E5F3;
	Border-Right: #003366 0px solid;
	Border-Top: #577CB5 0px solid;
	Border-Left: #577CB5 0px solid;
	Border-Bottom: #003366 0px solid;
	text-align:left;
}

.regOscuroCenter {
	color: black;
	border-style:none;
	background-color:#E1E1E1;
	Border-Right: #BBD3E1 0px solid;
	Border-Top: #477EAB 0px solid;
	Border-Left: #477EAB 0px solid;
	Border-Bottom: #BBD3E1 0px solid;
	text-align:center;
}

/*---------------------------------------------Estilo para el menu principal---------------------------------------------*/
.escudo {
    float: right;
	/*width: 100px;*/
}
.sio {
    float: left;
	/*width: 100px;*/
}